# Environment & Secrets
.env
*.pem

# Dependencies
node_modules/

# Build Outputs
dist/
bot-deploy.tar.gz

# CDK Infrastructure
cdk.out/
cdk.context.json

# System Files
.DS_Store

# VSCode files
.vscode/
